@import "tailwindcss";

html {
  scroll-behavior: smooth;
  
}
body {
  background-color: rgb(3 7 18);
}

@theme {
  --breakpoint-3xl: 120rem;

  --animate-spin: circular-spin 2s linear infinite;

  @keyframes circular-spin {
    100% {
      transform: rotate(-360deg);
    }
  }
}

@layer utilities {
  .raleway-font {
    font-family: 'Raleway', sans-serif;
  }

  .border-wrapper {
    @apply relative bg-gradient-to-b from-gray-800 to-gray-600;
  }

  .border-wrapper::before {
    background: conic-gradient(
      rgba(104, 255, 200, 0.4) 0deg,
      rgba(16,185,129,0.4) 0deg,
      transparent 80deg
    );
    @apply absolute w-full h-full content-[''] animate-spin
  }
}